.container-fluid {
  padding-top: 40px;
  /*width: 100%;*/
  /*background-color: rgba(21, 105, 199,.8);*/
}

.navbar-inner {
  padding: 8px 0px;
}

.brand{
  margin-left: 0px !important;
}

#body {
  background-image: url('../images/gorilla.jpg');
  
    /*rgba(21, 105, 199,.8);*/
  margin-top: 60px;
  padding-top: 80px;
  padding-bottom: 600px;

}

#page_top {

}
/*#create {
  float: right;
}

#login {
  float:right;
}*/

.dropdown-menu li {
  padding: 12px;
}

.survey_choice {
    padding-left: 10px;
}


h5 {
  display: inline-block;
}

#add_question {
  display: block;
}
.taken_survey {
  text-decoration: line-through;
}

.thumbnail {
  display: inline;
}


.question-content {
  float: left;
  min-width: 200px;
}

.question-chart {
  width:150px;
  height:150px;
}