.container-fluid {
  padding-top: 40px;
  /*width: 100%;*/
  /*background-color: rgba(21, 105, 199,.8);*/
}

.navbar-inner {
  padding: 8px 0px;
}

.brand{
  margin-left: 0px !important;
}

#body {
  background-image: url('../images/gorilla.jpg');
  
    /*rgba(21, 105, 199,.8);*/
  margin-top: 60px;
  padding-top: 80px;
  padding-bottom: 600px;

}

#page_top {

}
/*#create {
  float: right;
}

#login {
  float:right;
}*/

.dropdown-menu li {
  padding: 12px;
}

.choice{
  list-style-type: none;
}

#checkbox {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

h4 {
  margin-top: 6px;
  display: inline;
}

.taken_survey {
  text-decoration: line-through;
}