.container {
  /*width: 100%;*/
  /*background-color: rgba(21, 105, 199,.8);*/
}

.navbar-inner {
  padding: 8px 0px;
}

.brand{
  margin-left: 0px !important;
}

#body {
  background-color: rgba(21, 105, 199,.8);
  margin-top: 60px;
  padding-top: 80px;
  padding-bottom: 600px;

}

#page_top {

}
/*#create {
  float: right;
}

#login {
  float:right;
}*/

.dropdown-menu li {
  padding: 12px;
}