<div class="container-fluid">
  <h1>Create a New Survey</h1>
  <form action='/survey' method='post'>
  	<div class='survey_title'>
  		<h3>Survey Title: <input type='text' name='title'></h3>
  	</div>
  	<input type='submit' value='Create and Add Questions'>
  </form>
</div>