<div class="container-fluid">
    <div class="row-fluid" id="body">
      	<div class="span6 offset3">
        	<div class="hero-unit">
        		<h1>Opinionated Guerilla</h1>
        		<p>Because "survey monkey" is lame.<br>
        			 Create an account or log in to get started.
        		</p>
        	</div>
      	</div>
    </div>
  </div>
</div>
