<div class="container">
  <div class="row">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Opinionated Guerilla</a>
        <ul class="nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">How It Works</a></li>
        </ul>

        <ul class="nav right_side_of_nav" id="login">
           <li ><a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#">Login</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li>login dropdown</li>
            </ul>
          </li>
        </ul>

        <ul class="nav right_side_of_nav" id="create">
          <li><a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#">Create Account</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li>create dropdown</li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
    <div class="row">
      <div class="span12">
        Here's a bunch of marketing speak!!
      </div>
    </div>
  </div>
</div>
