<div class="container">
 
 <h2>Sign in:</h2>
  <form id="login" action="/sessions" method="post" />
    <input type="email" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Login" />
  </form>

<h2>Sign up:</h2>
  <form id="sign_up" action="/users" method="post" />
    <input type="email" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Login" />
  </form>



</div>
