<div class="container">
  <div class="row">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Opinionated Guerilla</a>
        <ul class="nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">How It Works</a></li>
        </ul>
        <ul class="nav" id="log_in_out">
           <li ><a href="/login">Login</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        Here's a bunch of marketing speak!!
      </div>
    </div>
  </div>
</div>
