<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/application.css">
  <link href="/css/blue.css" rel="stylesheet">
  <!--
    application.css is where you put your styles
  -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/hover_menu_bar.js"></script>
  <script src="/js/jquery.icheck.js"></script>
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

  <title>Opinionated Guerilla</title>
</head> 
<% if logged_in? %> 
<div class="container-fluid">
  <div class="row-fluid" id="page_top">
    <div class="span12">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <a class="brand" href="/">Opinionated Guerilla</a>
          <ul class="nav">
            <li><a href="/users/<%= current_user.id %>">My Dashboard</a></li>
            <li><a href="/sessions/end">Log Out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<% else %>
<div class="container-fluid">
  <div class="row-fluid" id="page_top">
    <div class="span12">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <a class="brand" href="/">Opinionated Guerilla</a>
          <ul class="nav">
          </ul>
          <ul class="nav right_side_of_nav" id="login">
           <li ><a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#">Login</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li>
                <form id="login" action="/sessions" method="post" />
                <input type="email" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <input type="submit" class="btn" value="Login" />
              </form>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav right_side_of_nav" id="create">
        <li><a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#">Create Account</a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li>
              <form id="sign_up" action="/users" method="post" />
              <input type="email" name="email" placeholder="Email" />
              <input type="password" name="password" placeholder="Password" />
              <input type="submit" class="btn" value="Create" />
            </form>
          </li>
        </ul>
      </li>
    </ul>


  </div>
</div>
</div>
</div>
</div>
<% end %>
<body>
  <% if @flash_alert %>
      <div class="alert alert-danger">
        <%= @flash_alert %>
      </div>
  <% end %>
  <%= yield %>
</body>
</html>
