<div class="container-fluid">
  <h1>Create a New Survey</h1>
  <% if @survey %>
    <% if @survey.errors.any? %>
  	  <div class="alert alert-danger">
  	  	<ul>
  	  		<% @survey.errors.full_messages.each do |error| %>
  	  			<li>
  	  				<%= error %>
  	  			</li>
  	  		<% end %>
  		</ul>
  	  </div>
    <% end%>
  <% end %>
  <form action='/survey' method='post'>
  	<div class='survey_title'>
  		<h3>Survey Title: <input type='text' name='title'>
  		</h3>
  	</div>

  	<div class='questions'>
  	</div>

    <button id="add-question">add question</button><br>
  	<br><input class='btn btn-success' type='submit' value='Create Survey'>
  </form>
</div>



<div id="question_template" style="display: none;">
  <div class="question">
    <p>Question: <input type='text' name='questions_attributes[][question]'/></p>
    <ul class='choices'>
      <div class='choice'>
        <li class='question_choice'>
          <p>
          Choice: <input type='text' name='questions_attributes[][choices_attributes][][content]'>
          <button class="add-choice">add choice</button><br>
          </p>
        </li>
      </div>
    </ul>
  </div>
</div>

<div id="choice_template" style="display: none;">
  <div class='choice'>
    <li class='question_choice'>
      <p>
      Choice: <input type='text' name='questions_attributes[][choices_attributes][][content]'>
      <button class="add-choice">add choice</button><br>
      </p>
    </li>
  </div>
 </div>