
<div class='container'>
  <br />
  <h1>Hello, pitiable fool # <%= @user.id %></h1>

  <ul class='list'>
    <% @user.surveys.each do |survey| %>
      <li>Survey: <a href="/survey/<%= survey.id %>"><%= survey.title %></a></li>
    <% end %>
  </ul>

</div>