<div class='container-fluid'>

  <h1>Hello, <%= current_user.email %></h1>

  <ul class='list'>
    <% current_user.surveys.each do |survey| %>
      <li>Survey: <a href="/survey/<%= survey.id %>"><%= survey.title %></a></li>
    <% end %>
  </ul>

  <a href="/survey/new"><h3>Create a new survey</h3></a>

</div>