<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <ol>
      <div class="question">
        <form action="">
          <%@survey.questions.each do |question|%>
          <li><h3><%= question.question %></h3></li>
          <ol>
          <% question.choices.each do |choice| %>
            <li class="choice"><input type="checkbox" id="checkbox"><h4><%= choice.content %></h4></li>
          <% end %>
          </ol>
        </form>
      </div>
      <% end %>
      </ol>
    </div>
  </div>
</div>